<div class="bg-white employees-list">
    <div class="employees-list__heading">
        <h2>Lista pracowników</h2>
        <button
            [routerLink]="['', 'new-employee']"
            type="button"
            class="btn btn-lg btn-violet"
        >
            Dodaj pracownika
        </button>
    </div>

    <hr />
    <table class="employees-list__table">
        <thead>
            <tr>
                <td></td>
                <td *ngFor="let column of displayedColumns">{{ column }}</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; let index = index">
                <td>{{ index + 1 }}.</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.age }}</td>
                <td>
                    <span
                        class="alert"
                        [ngClass]="
                            employee.isFullTime
                                ? 'f-success bg-success'
                                : 'f-danger bg-danger'
                        "
                        >{{ employee.isFullTime ? "Tak" : "Nie" }}</span
                    >
                </td>
                <td>{{ employee.position }}</td>
                <td>
                    <div class="col-action">
                        <button type="button" class="btn btn-outline">
                            <span class="material-symbols-outlined f-secondary">
                                edit_square
                            </span>
                        </button>
                        <button
                            type="button"
                            class="btn btn-outline"
                            (click)="deleteEmployee(index)"
                        >
                            <span class="material-symbols-outlined f-danger">
                                delete
                            </span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-modal
    [employeeIndex]="removedEmployeeId"
    [openModal]="openModal"
    (closeModal)="closeModal()"
></app-modal>
