@import "/src/assets/scss/components/table";

.employees-list {
  border-radius: 5px;
  padding: 20px;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  &__table {
    tbody {
      & > tr {
        & .col-action {
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: opacity 0.1s ease-in;
        }

        &:hover {
          & .col-action {
            opacity: 1;
            transition: opacity 0.1s ease-in;
          }
        }

        & .alert {
          padding: 2px 15px;
          border-radius: 5px;
        }
      }
    }
  }
}
