<div class="bg-white employees-list">
    <div class="employees-list__heading">
        <h2>Lista pracowników</h2>
        <button>Nowy pracownik</button>
    </div>

    <hr />
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Imię i nazwisko</td>
                <td>Wiek</td>
                <td>Pracownik pełnoetatowy</td>
                <td>Stanowisko</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; let index = index">
                <td>{{ index + 1 }}.</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.isFullTime }}</td>
                <td>{{ employee.position }}</td>
                <td>
                    <button>X</button>
                    <button>Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
