<div class="bg-white employees-list">
    <div class="employees-list__heading">
        <h2>Lista pracowników</h2>
        <button>Nowy pracownik</button>
    </div>

    <hr />
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Imię i nazwisko</td>
                <td>Wiek</td>
                <td>Pracownik pełnoetatowy</td>
                <td>Stanowisko</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Tomasz Niemiec</td>
                <td>33</td>
                <td>Tak</td>
                <td>Mid</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Tomasz Niemiec</td>
                <td>33</td>
                <td>Tak</td>
                <td>Mid</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Tomasz Niemiec</td>
                <td>33</td>
                <td>Tak</td>
                <td>Mid</td>
            </tr>
        </tbody>
    </table>
</div>
