// Primary colors
$appBackgound: #f0f3f9;
$primaryTextColor: #111;
$whiteColor: #fff;

// Button Colors
$danger: #f37776;
$dangerBackground: #fee9e8;
$success: #0e560e;
$successBackground: #e5ffe6;
$secondary: #6c757d;
$violetBackground: #395be2;

// Table Colors
$tableHeadBackground: #f1f4f9;
$tableRowHover: #fafafa;
$tableRowBorderColor: #efefef;

// Creating background classes
$bgColors: (
  "white": $whiteColor,
  "danger": $dangerBackground,
  "success": $successBackground,
);

@each $colorName, $bgColor in $bgColors {
  .bg-#{$colorName} {
    background-color: $bgColor;
  }
}

// Creating text classes
$textColors: (
  "white": $whiteColor,
  "danger": $danger,
  "success": $success,
  "secondary": $secondary,
);

@each $colorName, $textColor in $textColors {
  .f-#{$colorName} {
    color: $textColor;
  }
}
