<div class="modal" *ngIf="openModal">
    <div class="modal-content">
        <div class="modal-content_heading">
            <h2>Usuwanie pracownika</h2>
            <p>Czy napewno chcesz usunąć pracownika ?</p>
        </div>
        <div class="modal-action">
            <button
                type="button"
                class="btn btn-lg btn-danger"
                (click)="close()"
            >
                Anuluj
            </button>
            <button
                type="button"
                class="btn btn-lg btn-success"
                (click)="deleteNetlandEmployee()"
            >
                Usuń pracownika
            </button>
        </div>
    </div>
</div>
