@import "../base/colors";

button {
  &.btn {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    &.btn-outline {
      background-color: transparent;
    }
    &-lg {
      padding: 15px 20px;
    }

    & span {
      font-size: 22px;
    }
  }

  &[disabled] {
    cursor: default;
  }
}

// Creating button classes
$btnColors: (
  "violet": $violetBackground,
  "danger": $danger,
  "success": $success,
);

@each $colorName, $btnColor in $btnColors {
  .btn-#{$colorName} {
    background-color: $btnColor;
    color: $whiteColor;

    &:hover {
      background-color: darken($btnColor, 10%);
    }
    &[disabled] {
      background-color: lighten($btnColor, 10%);
      &:hover {
        background-color: lighten($btnColor, 10%);
      }
    }
  }
}
