<div class="employee-form">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="border-bottom">
            <div class="employee-form_control">
                <div class="form-w-label">
                    <label for="name"
                        >Imię i nazwisko <span class="f-danger">*</span></label
                    >
                </div>
                <div class="form-w-input">
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        formControlName="name"
                    />
                </div>
            </div>
        </div>
        <div class="border-bottom">
            <div class="employee-form_control">
                <div class="form-w-label">
                    <label for="age"
                        >Wiek <span class="f-danger">*</span></label
                    >
                </div>
                <div class="form-w-input">
                    <input
                        type="number"
                        class="form-control"
                        id="age"
                        formControlName="age"
                        (change)="changeValid($event)"
                    />
                </div>
            </div>
        </div>
        <div class="border-bottom">
            <div class="employee-form_control">
                <div class="form-w-label">
                    <label for="isFullTime">Pracownik pełnoetatowy</label>
                </div>
                <div class="form-w-input">
                    <input
                        type="checkbox"
                        class="form-control"
                        id="isFullTime"
                        formControlName="isFullTime"
                    />
                </div>
            </div>
        </div>
        <div class="border-bottom">
            <div class="employee-form_control">
                <div class="form-w-label">
                    <label for="isFullTime"
                        >Stanowisko <span class="f-danger">*</span></label
                    >
                </div>
                <div class="form-w-input">
                    <select class="form-control" formControlName="position">
                        <option
                            [value]="position"
                            *ngFor="let position of positions"
                        >
                            {{ position }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="employee-form_actions">
            <button
                type="submit"
                class="btn btn-lg btn-violet"
                [disabled]="employeeForm.invalid"
            >
                Zapisz
            </button>
        </div>
    </form>
</div>
