$smBreakpoint: 576px;
$mdBreakpoint: 768px;
$lgBreakpoint: 992px;
$xlBreakpoint: 1200px;
$xxlBreakpoint: 1400px;

$breakpoints: (
  sm: $smBreakpoint,
  md: $mdBreakpoint,
  lg: $lgBreakpoint,
  xl: $xlBreakpoint,
  2xl: $xxlBreakpoint,
);

@mixin breakpoint($point) {
  $size: map-get($breakpoints, $point);

  @media (min-width: $size) {
    @content;
  }
}
