@import "./breakpoints";

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(sm) {
    width: 540px;
  }
  @include breakpoint(md) {
    width: 720px;
  }
  @include breakpoint(lg) {
    width: 960px;
  }
  @include breakpoint(xl) {
    width: 1140px;
  }
  @include breakpoint(2xl) {
    width: 1320px;
  }
}
